apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-docker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: node-docker
  template:
    metadata:
      labels:
        component: node-docker
    spec:
      containers:
        - name: node-docker
          image: node-docker:latest
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8887