apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-docker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: python-docker
  template:
    metadata:
      labels:
        component: python-docker
    spec:
      containers:
        - name: python-docker
          image: python-docker:latest
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8888