apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-docker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: go-docker
  template:
    metadata:
      labels:
        component: go-docker
    spec:
      containers:
        - name: go-docker
          image: go-docker:latest
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8886