apiVersion: v1
kind: Service
metadata:
  name:  go-docker
spec:
  type:  LoadBalancer
  selector:
    component: go-docker
  ports:
  - name:  go-docker-port
    port:  8886
    protocol: TCP
    targetPort:  8886